<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Sluggish Hackers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="비영리 조직과 시민 사회와 협력하기 위힌 기술 조직"
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Sluggish Hackers" />
  <meta
    property="og:description"
    content="비영리 조직과 시민 사회와 협력하기 위힌 기술 조직"
  />
  <meta
    name="keywords"
    content="sluggish hackers,비영리,시민사회,기술,civic hacking,시빅 해킹"
  />

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
